@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --container-width: 350px;
}

body,
h2,
h3 {
    margin: 0;
}

body {
    background-color: rgb(236, 242, 248);;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
}

.heading{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.container {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-main-container {
    margin: 2rem 4rem;
    max-width: var(--container-width);
    border: 1px solid #dbeafe;
    background-color: #fff;
    border-radius: 0.35rem;
}

.card-hero-section:hover{
    cursor: pointer;
    filter: grayscale(0.5);
}


.card-hero-image{
    height: 200px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-details {
    padding: 1rem;
}

.title {
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.author {
    font-size: 0.875rem;
    color: #52525b;
    font-weight: 500;
}

.tag-line {
    padding: 0 1rem 0.5rem 1rem;
    font-size: 0.875rem;
    color: #52525b;
    font-weight: 400;
}
.cta{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.primary-btn{
    border: none;
    background-color: transparent;
    color: #0284c7;
    font-size: 0.875rem;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0.5px;
}

.primary-btn:hover{
    cursor: pointer;
    background-color: #f0f9ff;
}

.primary-icons {
    border: none;
    background-color: transparent;
}

.cta-icons{
    margin-left: 0.5rem;
}

.fa-heart-o,
.fa-share-alt,
.fa-ellipsis-v{
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.fa-ellipsis-v,
.fa-share-alt{
    width: 24px;
    text-align: center;
}

.fa-heart-o:hover,
.fa-share-alt:hover,
.fa-ellipsis-v:hover{
    border-radius: 50%;
    background-color: #eff6ff;
}